html {
    font-size: 1rem;
}
html, body {
   margin: 0;
   padding: 0;
}
body {
    background-color: rgb(187, 217, 228);
}
body > * {
   box-sizing: border-box;
   font-family: '<your font>';
}
img {
   width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 900px;  
    padding: 0 30px;
}



.insights {
    display: flex; 
    
}

h1 {
    font-family: "Poiret One";
}

h2 {
    font-family: "Roboto";
    font-weight: light; 
}

h3 {
    display: block; 
    font-family: "Roboto";
}

p {
    font-family: "Roboto" 
}